button {
    height: 30px;
    width: 100px;
    font-family: "MS Reference Sans Serif";
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

#board{
    alignment: center;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

#scoring{
    grid-column: 2;
    grid-row: 3;
}

.square {
    transition-property: opacity;
    transition-duration: 120ms;
}

.square:hover {
    opacity: 0.6;
}

#red{
    height:100%;
    width:100%;
    grid-row: 1;
    grid-column: 1;
    background: #fe4a49;

}

#blue{
    height:100%;
    width:100%;
    grid-row: 1;
    grid-column: 2;
    background: #0392cf ;
}

#yellow{
    height:100%;
    width:100%;
    grid-row: 2;
    grid-column: 1;
    background: #fed766;
}

#green{
    height:100%;
    width:100%;
    grid-row: 2;
    grid-column: 2;
    background: #009688 ;
}

#colorHeader{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    alignment: center;
    font-size: 12px;
    color:white;
}

#newRoundButton{
    position: relative;
    top: 50%;
    color: white;
    background-color: #f37735;
    border-radius: 5px;
}

#gameOver{
    color: black;
    font-size: 20px;
}