body{
    background-color:antiquewhite;
}

.navi {
    text-decoration: none;
    border: solid;
    margin: .5vh;
    border-width: 1px;
    padding:.5vh;
    left: auto;
    right: 0px;
    float:right;
    font-size:calc(10px + 0.5vw);
    z-index: 50;

}
.navi:visited {
    color: black;
}
.navi:hover {
    background-color: #c4c7c0;
}

.header {
    display: flex;
    width: 100%;
    top: 0;
    border-width:0px;
    border-bottom-width: 1px;
    border-style: solid;
    z-index: 50;
    background: wheat;
}

#links {
    width:100%;
    left:auto;
    right:0;
    margin-top: 0.5%;
    z-index: 50;
}

#name {
    padding-left: 2px;
    text-decoration: none;
    font-size:calc(12px + 1.2vw);
    width: 50%;
    display: flex;
    align-items:center;

}

#name:visited {
    color: black;
}

* {
    margin-top:0;
    font-family: "Lato", sans-serif;
}

.page {
    position: static;
    width:100%;

}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;


}

#profile {
    width:100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row:1;
    display: flex;
    align-items:center;
}
#aboutme {
    width:100%;
    grid-column-start: 2;
    grid-column-end: 2;
    display:flex;
    align-items: center;

}
