#container{
    text-align: center;
    white-space: nowrap;
    width: 100%;
    align-content: center;
    z-index: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

#practiceText{
    font-family: Zhuyin;
    position: relative;
    alignment:center;
    font-size: 50px;
    color: grey;
    width:800px;
    aspect-ratio: 10/1;
    align-content: center;
    left: 30%;
    margin-left: -50px;
}


#moreInfo {
    float: right;
}

#githubButton{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    z-index: 1;
}

#githubLogo{
    role: "img";
    height: 20px;
    margin-right: 6px;
}

.key {
    width: 6%;
    position: relative;
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    padding-top: 8px;
}

.rows {
    display:flex;
    margin-left: 8%;
}

.keyCharacter {
    font-weight: bold;
    top: 10%;
}


.SKey {
    background-color: #9F9F9F;
    align-content: center;
    margin-top: 0px;
}

#textCursor {
    position: absolute;
    left: 34%;
    top: 10px;
    color:#282c34;
}

#TabSK {
    width: 12%;
    aspect-ratio: 2/1;
    top: 50%
}

#BackspaceSK {
    width: 12%;
    aspect-ratio: 2/1;
}

#EnterSK {
    width: 12%;
    aspect-ratio: 2/1;
}

#CapsLockSK {
    width: 12%;
    aspect-ratio: 2/1;
}

#ShiftLeftSK {
    width: 15%;
    aspect-ratio: 2.5/1;
}

#ShiftRightSK {
    width: 15%;
    aspect-ratio: 2.5/1;
}

#keyboardBg{
    width:790px;
    background-color: #EDDBDB;
    border-style: solid;
    border-color: #B6A9A9;
    border-radius: 2px;
    position: relative;
    align-content: center;
    alignment:center;
    margin:auto;

}

@font-face {
    font-family: "Zhuyin";
    src: url("wp010-05.ttf");
}

@keyframes moveCursor {
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate3d(6%, 0, 0);}
}

.rows1 {
    position: relative;
    width: 100%;
    aspect-ratio: 100/1;
    background-color: red;
}

.rows2{

}

.githubButton:hover,
.githubButton:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.githubButton:hover {
    transform: translateY(-1px);
}

.githubButton:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

#settings {

}