#container{
    alignment: center;
    text-align: center;
    position: relative;
}

#practiceText{
    font-family: Zhuyin;
    position: relative;
    align-content: center;
    alignment:center;
    font-size: 50px;
    color: grey;
}


#guessInput{
    width:10px;
    z-index: 0;
    position: relative;
}


.key {
    width: 50px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    border-style: solid;
    padding-top: 10px;
    position: sticky;
    font-weight: bold;
    margin: 1px;
}

.SKey {
    background-color: #9F9F9F;
    align-content: center;
}

#textCursor {
    position: absolute;
    top: 1px;
    right: 710px;
    color:#282c34;
}

#TabSK {
    width: 90px;
}

#BackspaceSK {
    width: 90px;
}

#EnterSK {
    width: 97px
}

#CapsLockSK {
    width: 97px;
}

#ShiftLeftSK {
    width: 125px;
}

#ShiftRightSK {
    width: 125px;
}

#r1{
    padding-bottom:0px;
}

#r2{
    padding-top:0px;
}

#r3{

}

#keyboardBg{
    width:810px;
    height:220px;
    alignment: center;
    background-color: #EDDBDB;
    padding-top: 5px;
    margin: auto;
    border-style: solid;
    border-color: #B6A9A9;
    border-radius: 2px;
    position: relative;
}
@font-face {
    font-family: "Zhuyin";
    src: url("wp010-05.ttf");
}

.textCursor {
    z-index: 1;
    font-size: larger;
    position: absolute;
    top: 90px;
}

.simple-keyboard.hint.myTheme {
    font-family: "Zhuyin";
}